{% extends 'base.html.twig' %}

{% block title %}Vista Bio {{ name_user }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello to bio of {{ name_user }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/segus/Documentos/TorreTechnicalTest/TorreBio/src/Controller/BioUserController.php'|file_link(0) }}">src/Controller/BioUserController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/segus/Documentos/TorreTechnicalTest/TorreBio/templates/bio_user/index.html.twig'|file_link(0) }}">templates/bio_user/index.html.twig</a></code></li>
    </ul>
</div>
<div>
	{% if user_profile|length > 0 %}
	<h1>Hay usuario</h1>
	{% else %}
	<h1>No hay registros</h1>
	{% endif %}
</div>
{% endblock %}
